<?xml version="1.0"?>
<config>
    <modules>
        <GuilhermeRossato_OrderFilter>
            <version>0.1</version>
        </GuilhermeRossato_OrderFilter>
    </modules>
    <global>
        <models>
            <orderhook>
                <class>GuilhermeRossato_OrderFilter</class>
            </orderhook>
            <orderfilter>
                <class>GuilhermeRossato_OrderFilter_Model</class>
            </orderfilter>
        </models>
        <helpers>
            <orderfilter>
                <class>GuilhermeRossato_OrderFilter_Helper</class>
            </orderfilter>
        </helpers>
        <events>
            <sales_order_save_before>
                <observers>
                    <sales_order_save_before_handler>
                        <type>singleton</type>
                        <class>GuilhermeRossato_OrderFilter_Model_Observer</class>
                        <method>checkBeforeSaving</method>
                        <args></args>
                    </sales_order_save_before_handler>
                </observers>
            </sales_order_save_before>
            <sales_order_place_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>GuilhermeRossato_OrderFilter_Model_Observer</class>
                        <method>filterOrder</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <guilhermerossato>
                                            <title>GuilhermeRossato - All</title>
                                        </guilhermerossato>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>