<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <guilhermerossato translate="label" module="orderfilter">
            <label>guilhermerossato Extensions</label>
            <sort_order>100</sort_order>
        </guilhermerossato>
    </tabs>
    <sections>
        <guilhermerossato translate="label" module="orderfilter">
            <label>Order Filter Options</label>
            <tab>guilhermerossato</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <guilhermerossato_group translate="label" module="orderfilter">
                    <label>My Extension Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <guilhermerossato_input translate="label">
                            <label>My Input Field: </label>
                            <comment>My Comment</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </guilhermerossato_input>
                        <guilhermerossato_select translate="label">
                            <label>My Dropdown: </label>
                            <comment>Source model provider Magento's default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </guilhermerossato_select>
                    </fields>
                </guilhermerossato_group>
            </groups>
        </guilhermerossato>
    </sections>
</config>